<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/introduction">Introduction</a></li>
				<li><a href="/methods">Methods</a></li>
				<li><a href="/results">Results</a></li>
				<li><a href="/discussion">Discussion</a></li>
				<li><a href="/references">References</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="saguirre@ucsd.edu">email</a></li>
	        		<li><a href="https://github.com/SamuelBAguirre">github.com/SamuelBAguirre</a></li>
				<li><a href="jqlu@ucsd.edu">email</a></li>
	        		<li><a href="https://github.com/j1u">github.com/j1u</a></li>
				</ul>
			</footer>
		</body>
	</html>
